<launch>
    <rosparam>
      busses:
        - port: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A403IMC9-if00-port0
          thrusters:
            FLV: {
              node_id: 10,
              frame_id: /base_link,
              position: [0.1583, 0.169, 0.0142],
              direction: [0, 0, -1]
            }
            FLL: {
              node_id: 11,
              frame_id: /base_link,
              position: [0.2678, 0.2795, 0],
              direction: [-0.866, 0.5, 0]
            }
        - port: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AI02L380-if00-port0
          thrusters:
            FRV: {
              node_id: 12,
              frame_id: /base_link,
              position: [0.1583, -0.169, 0.0142],
              direction: [0, 0, -1]
            }
            FRL: {
              node_id: 13,
              frame_id: /base_link,
              position: [0.2678, -0.2795, 0],
              direction: [-0.866, -0.5, 0]
            }
        - port: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A403IN02-if00-port0
          thrusters:
            BLV: {
              node_id: 14,
              frame_id: /base_link,
              position: [-0.1583, 0.169, 0.0142],
              direction: [0, 0, 1]
            }
            BLL: {
              node_id: 15,
              frame_id: /base_link,
              position: [-0.2678, 0.2795, 0],
              direction: [0.866, 0.5, 0]
            }
        - port: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A403IN03-if00-port0
          thrusters:
            BRV: {
              node_id: 16,
              frame_id: /base_link,
              position: [-0.1583, -0.169, 0.0142],
              direction: [0, 0, 1]
            }
            BRL: {
              node_id: 17,
              frame_id: /base_link,
              position: [-0.2678, -0.2795, 0],
              direction: [0.866, -0.5, 0]
            }
  </rosparam>
  <node pkg="sub8_thruster_mapper" type="mapper.py" name="thruster_mapper" />
</launch>
