#! /usr/bin/env python
PACKAGE = 'sub8_controller'
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
# using strings because there seems to be no vector support (currently)
gen.add('kp', str_t, 0, 'Proportional component', '500,500,500,1000,1000,1000')
gen.add('kd', str_t, 0, 'Dirivitive component', '100,100,100,150,150,150')
gen.add('ki', str_t, 0, 'Dist regressor coeffs', '5,5,5,5,5,5')
gen.add('kg', str_t, 0, 'Drag regressor coeffs', '5,5,5,5,5,5')
gen.add('use_learned', bool_t, 0, '', True)
exit(gen.generate(PACKAGE, PACKAGE, 'AdaptiveController'))
