<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="simulated" default="False" />
  <param name="/is_simulation" value="$(arg simulated)" />

  <node pkg="mil_usb_to_can" type="driver.py" name="usb_to_can_driver">
    <rosparam command="delete" />
    <rosparam>
    # Path of serial device
    port: /dev/serial/by-id/usb-Texas_Instruments_In-Circuit_Debug_Interface_0E237EF9-if00
    # Baudrate of device, should leave as is
    baudrate: 115200
    # The CAN device id of the usb-can board
    device_handles:
      # Device 9 will be handled with ExampleCANDeviceHandle
      mil_usb_to_can.test_mehron.ExampleTestDevice: []
    </rosparam>
  </node>
</launch>
