<launch>
	<param name="csv_path" value="../catkin_ws/src/mil/SubjuGator/utils/sub8_diagnostics/csv/" />
	<param name="file_name_odom" value="yawccw_odom.csv" />
	<param name="file_name_wrench" value="yawccw_wrench.csv" />

	<node name="parse_odom_node" pkg="sub8_diagnostics" type="parse_odom_node" />
	<node name="parse_wrench_node" pkg="sub8_diagnostics" type="parse_wrench_node" />
</launch>
