<?xml version="1.0"?>

<!-- TODO: find out if car is box -->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="go_kart">
  <xacro:include filename="$(find mil_gazebo)/xacro/util.xacro"/>
  <!-- TODO distance from the steering point to steering point -->
  <xacro:property name="chassis_length" value = "1.905"/> <!-- x -->
  <xacro:property name="chassis_width"  value = "0.800"/> <!-- y -->
  <xacro:property name="chassis_height" value = "0.4"/>  <!-- z -->
  <xacro:property name="chassis_mass"   value = "67.950"/>

  <xacro:macro name="body_geometry">
    <geometry>
      <box size="${chassis_length} ${chassis_width} ${chassis_height}" />
    </geometry>
  </xacro:macro>

  <xacro:macro name="body_inertial">
    <inertial>
      <mass value="${chassis_mass}"/>
      <xacro:box_inertia x="${chassis_length}" y="${chassis_width}" z="${chassis_height}" mass="${chassis_mass}"/>
    </inertial>
  </xacro:macro>


</robot>
