<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Defines what environment the system is running on, can be 'real', 'gazebo' or 'dynsim' -->
  <arg name="environment" default="real" />
  <arg name="use_adaptive_controller" default="True" />
  <!-- Whether to use cameras simulated by Gazebo (true) or to use a connected USB camera (false) -->
  <arg name="simulate_cams" default="true" />
  <arg name="sub" default="sub8"/>

  <param name="/environment" value="$(arg environment)" />
  <param name="/is_simulation" value="$(eval environment != 'real')" />
  <rosparam param="/autonomous">True</rosparam>

  <include file="$(find subjugator_launch)/launch/tf.launch" >
    <arg name="simulate_cams" value="$(arg simulate_cams)" />
    <arg name="sub" value="$(arg sub)"/>
  </include>

  <include if="$(eval environment != 'dynsim')" file="$(find subjugator_launch)/launch/subsystems/nav_box.launch" >
    <arg name="imu" value="true" />
    <arg name="dvl" value="true" />
    <arg name="depth" value="true" />
    <arg name="environment" value="$(arg environment)" />
  </include>

  <include file="$(find subjugator_launch)/launch/can.launch" />

  <!-- Parameters for course-specific geometry -->
  <group ns="course">
      <rosparam file="$(find subjugator_launch)/config/course_geometry.yaml" />
  </group>
  <!-- Parameters for competition strategy -->
  <group ns="strategy">
      <rosparam file="$(find subjugator_missions)/config/strategy.yaml" />
  </group>

  <include if="$(eval environment != 'dynsim')" file="$(find subjugator_launch)/launch/subsystems/cameras.launch">
    <arg name="environment" value="$(arg environment)" />
    <arg name="simulate_cams" value="$(arg simulate_cams)" />
  </include>
  <include file="$(find subjugator_launch)/launch/subsystems/perception.launch" />

  <include if="$(eval environment != 'dynsim')" file="$(find subjugator_launch)/launch/subsystems/odometry.launch"/>
  <include file="$(find subjugator_launch)/launch/subsystems/thruster_mapper.launch"/>

  <include if="$(arg use_adaptive_controller)" file="$(find subjugator_launch)/launch/subsystems/adaptive_controller.launch">
    <arg name="environment" value="$(arg environment)" />
  </include>
  <include unless="$(arg use_adaptive_controller)" file="$(find subjugator_launch)/launch/subsystems/rise.launch"/>

  <include file="$(find subjugator_launch)/launch/subsystems/path_planner.launch" />
  <include if="$(eval environment == 'real')" file="$(find subjugator_launch)/launch/subsystems/online_bagger.launch"/>
  <include file="$(find subjugator_alarm)/launch/alarms.launch" />
  <include file="$(find subjugator_launch)/launch/mission_server.launch" />
  <include file="$(find subjugator_launch)/launch/subsystems/passive_sonar.launch">
    <arg name="environment" value="$(arg environment)" />
  </include>

  <node pkg="mil_poi" type="poi_server" name="poi_server">
    <rosparam command="load" file="$(find subjugator_launch)/launch/initial_pois.yaml" />
  </node>


</launch>
