<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="file" default="~/test.bag"/>
  <arg name="play_topic" default="/path"/>
  <group ns="path">
    <node pkg="indyav_path" type="path_player" name="path_player" output="screen">
      <param name="file_name" value="$(arg file)"/>
      <param name="play_topic" value="$(arg play_topic)"/>
    </node>
  </group>
</launch>
