<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher">
      <param name="use_tf_static" value="false" />
    </node>

    <!-- Republishes ins-frame odom in base_link frame -->
    <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
        <rosparam>
            frame_id: /enu
            child_frame_id: /base_link
        </rosparam>
        <remap from="orig_odom" to="ins_odom"/>
    </node>

    <!-- Publishes transform from /enu to /base_link based on odometry -->
    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
</launch>
