[submodule "txros"]
	path = txros
	url = https://github.com/txros/txros.git
[submodule "ros_alarms"]
	path = ros_alarms
	url = https://github.com/uf-mil/ros_alarms.git
[submodule "drivers/pointgrey_camera_driver"]
	path = drivers/pointgrey_camera_driver
	url = https://github.com/uf-mil/pointgrey_camera_driver
[submodule "drivers/velodyne"]
	path = drivers/velodyne
	url = https://github.com/ros-drivers/velodyne
	branch = master
[submodule "drivers/roboteq"]
	path = drivers/roboteq
	url = https://github.com/uf-mil/roboteq
	branch = master
[submodule "drivers/LMS1xx"]
	path = drivers/LMS1xx
	url = https://github.com/uf-mil/LMS1xx.git
