# Aspell files
*.bak

# Sphinx output
docs/_build

# Editor cache files
*.swo
*.swp
*.swn

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python compiled files
*.pyc

# Auto Generated xacros
NaviGator/simulation/navigator_gazebo/urdf/navigator_vrx/*.xacro
IndyAV/simulation/indyav_gazebo/worlds/racetracks/*.xacro


# Unpackaged proprietary software
mil_common/drivers/mil_blueview_driver/bvtsdk
