[submodule "gnc/lqRRT"]
	path = NaviGator/gnc/navigator_path_planner/lqRRT
	url = https://github.com/uf-mil/lqRRT
[submodule "drivers/pointgrey_camera_driver"]
	path = mil_common/drivers/pointgrey_camera_driver
	url = https://github.com/uf-mil/pointgrey_camera_driver
[submodule "drivers/roboteq"]
	path = mil_common/drivers/roboteq
	url = https://github.com/uf-mil/roboteq
	branch = master
[submodule "drivers/LMS1xx"]
	path = mil_common/drivers/LMS1xx
	url = https://github.com/uf-mil/LMS1xx.git
[submodule "mil_common/axros"]
	path = mil_common/axros
	url = https://github.com/uf-mil/axros.git
[submodule "NaviGator/simulation/VRX/vrx"]
	path = NaviGator/simulation/VRX/vrx
	url = https://github.com/uf-mil/vrx.git
[submodule "NaviGator/simulation/VRX/vrx-docker"]
	path = NaviGator/simulation/VRX/vrx-docker
	url = https://github.com/uf-mil/vrx-docker.git
[submodule "mil_common/perception/yolov7-ros"]
	path = mil_common/perception/yolov7-ros
	url = https://github.com/uf-mil/yolov7-ros.git
[submodule "SubjuGator/drivers/waterlinked_a50_ros_driver"]
	path = SubjuGator/drivers/waterlinked_a50_ros_driver
	url = https://github.com/uf-mil/dvl-a50-ros-driver
