# Images
*.png binary
*.jpeg binary
*.jpg binary
*.tif binary
*.obj binary
*.mtl binary
*.bin binary
*.hex binary

# Rviz
*.rviz binary

# CVXGEN
gnc/sub8_controller/include/sub8_cvx/* binary
*.dae binary

# ML Data
*.p binary
*.pkl binary
*.cv2 binary
