# Graphing
matplotlib==3.1.2
tqdm==4.62.3

# Algorithms
tsp-solver2==0.4.1
uvloop==0.16.0

# Data Science
pandas==1.4.1
numpy==1.22.3

# Machine Learning
scipy==1.10.0
scikit-learn==1.1.1

# Computer Vision
Pillow==10.2.0

# File Handling
PyYAML==6.0
urdf-parser-py==0.0.4

# Internet
aiohttp==3.8.5
aiohttp-xmlrpc==1.5.0

# Documentation
sphinx==5.0.1
breathe==4.34.0
myst-parser==0.18.0
sphinx-copybutton==0.5.0

# External Devices
pyserial==3.5

# Linting
black==22.1.0
modernize==0.8.0 # This can be removed after Noetic Migration is complete.

# Testing
pre-commit==2.20.0
pylint==2.15.5

# YOLOv7
torch>=1.10.0
torchvision>=0.13.1
opencv-python==4.6.0.66
seaborn==0.11.2
thop==0.1.1.post2207130030
requests==2.31.0
