<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="environment" default="real" />
  <group if="$(eval environment == 'real')">
    <node pkg="sub8_launch" type="passive_sonar_conn" name="passive_sonar_conn" />
    <node pkg="mil_passive_sonar" type="hydrophones" name="hydrophones_heading">
      <param name="dist_h" value="2.286e-02" />
      <param name="dist_h4" value="2.286e-02" />
      <param name="v_sound" value="1482" />
    </node>
  </group>
  <node pkg="mil_tools" type="vector_to_marker" name="hydrophones_visualization"
        args="/hydrophones/direction /hydrophones/direction_marker --length 4" />
</launch>
