<launch>
  <arg name="tensorflow" default="True" />
  <arg name="torp" default="True" />

  <!-- roslaunch sub8_launch perception.launch color_calibration:=gazebo_color_calibration.yaml -->
  <arg name="color_calibration" default="default_color_calibration.yaml" />

  <rosparam file="$(find sub8_launch)/config/course_geometry.yaml" />
  <rosparam file="$(find sub8_launch)/config/$(arg color_calibration)" />

  <group ns="vision">
    <node if="$(arg torp)" pkg="sub8_perception" type="torpedo_target_acq.py" name="arm_torpedos" output="screen">
      <rosparam file="$(find sub8_launch)/config/torpedo_target_acq.yaml" command="load"/>
    </node>
    <node if="$(arg tensorflow)" pkg="sub8_perception" type="object_detection.py" name="object_detection" output="screen">
      <rosparam file="$(find sub8_launch)/config/path_localizer.yaml" command="load" />
    </node>
  </group>
</launch>
