<launch>
    <node name="alarm_sever" pkg="ros_alarms" type="alarm_server.py" output="screen">
        <!-- A folder that is in your system path containing all alarm handlers-->
        <param name="handler_module" type="string" value="alarm_handlers"/>
    </node>

    <!-- Meta alarm definitions -->
    <rosparam ns="meta_alarms">
        kill: ["bus-voltage", "height-over-bottom", "thruster-out", "network-loss", "mission-kill", "odom-kill", "hw-kill"]
    </rosparam>

    <!-- List known alarms here -->
    <rosparam ns="known_alarms">
        kill, thruster-out, bus-voltage, height-over-bottom, network-loss, mission-kill, odom-kill,
        actuator-board-disconnect, actuator-board-packet-error, hw-kill, go
    </rosparam>

    <!-- Alarm specific params -->
    <param name="height_over_bottom" type="double" value="0.4" />    <!-- meters -->
    <param name="thruster_loss_limit" type="int" value="2" />        <!-- thrusters -->
    <param name="battery/warn_voltage" type="double" value="44.5" /> <!-- volts -->
    <param name="battery/kill_voltage" type="double" value="44.0" /> <!-- volts -->
</launch>
