<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher">
      <param name="use_tf_static" value="false" />
    </node>
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
      <rosparam>
        source_list:
          - /thruster_states
          - /wamv/joint_states
      </rosparam>
    </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_bug_fix" args="0 0 0 0 0 0 1 imu_wamv_link wamv/imu_wamv_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="gps_bug_fix" args="0 0 0 0 0 0 1 gps_wamv_link wamv/gps_wamv_link" />
  <!-- HACK to tell tf that the lidar is just at base link as this seems to solve the issue of points drifting in global frame -->
  <!-- We still do not know the actual cause of this issue (likely upstream). This fix has its own issue, as each point will be offset -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_bug_fix" args="0 0 0 0 0 0 1 lidar_wamv_link wamv/lidar_wamv_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="right_camera_optical" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 front_right_camera_link front_right_camera_link_optical" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="left_camera_optical" args="0 0 0 -1.5707963267948966 0 -1.5707963267948966 front_left_camera_link front_left_camera_link_optical" />
</launch>
