<?xml version="1.0"?>
<launch>

    <arg name="weights" default="$(find yolov7_ros)/src/best.pt" />
    <arg name="image_topic" default="/wamv/sensors/cameras/front_left_camera/image_raw" />
    <arg name="out_topic" default="detections" />
    <arg name="conf_thresh" default="0.75" />
    <arg name="image_size" default="640" />
    <arg name="device" default="cuda" />

    <!-- Use YOLOv7 -->
    <include file="$(find yolov7_ros)/launch/yolov7.launch">
        <arg name="weights" value="$(arg weights)"/>
        <arg name="image_topic" value="$(arg image_topic)"/>
        <arg name="out_topic" value="$(arg out_topic)"/>
        <arg name="conf_thresh" value="$(arg conf_thresh)"/>
        <arg name="image_size" value="$(arg image_size)"/>
        <arg name="device" value="$(arg device)"/>
    </include>

    <arg name="train" default="False" />
    <node pkg="navigator_vision" type="vrx_classifier.py" name="vrx_classifier" output="screen">
        <param name="debug" value="True" />
        <param name="image_topic" value="/wamv/sensors/cameras/front_left_camera/image_raw" />
	<param name="model_location" value="config/model" />
        <param name="train" value="$(arg train)" />
    </node>
</launch>
