<?xml version="1.0" encoding="utf-8"?>

<launch>

    <!-- Use YOLOv4 -->
    <arg name="network_param_file" default="$(find darknet_ros)/config/yolov4-tiny.yaml"/>
    <arg name="image" default="/wamv/sensors/cameras/front_left_camera/image_raw"/>

    <!-- Main darknet_ros launch file-->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch">
        <arg name="network_param_file" value="$(arg network_param_file)"/>
        <arg name="image" value="$(arg image)"/>
    </include>

</launch>