<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mil_imu" params="name:=imu parent:='base_link' topic:='/imu/data' xyz:='0 0 0' rpy='0 0 0' rate:=100">
    <link name="${name}" />
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
    <gazebo reference="${name}">
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>${rate}</update_rate>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>${topic}</topicName>
          <frameName>${name}</frameName>
          <updateRateHZ>${rate}</updateRateHZ>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
