<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find sub8_launch)/launch/sub8.launch">
    <arg name="environment" value="dynsim" />
  </include>

  <node pkg="sub8_simulation" type="dynamics_simulator" name="dynamics_simulator">
    <rosparam>
      drag_coefficients: [50, 50, 50, 5, 5, 5]
    </rosparam>
  </node>
</launch>
