<launch>
    <node pkg="sub8_pointcloud" type="ogrid_generator" name="ogrid_pointcloud" >
        <rosparam>
            # meters per "pixel"
            resolution: 0.2
            
            # width and height of ogrid in meters 
            ogrid_size: 150

            # Ignore blueview imaging sonar points below depth in meters
            pool_depth: 3.0

            # How many points should be allowed
            buffer_size: 7000
            min_intensity: 0
        </rosparam>
    </node>
</launch>

