<launch>
    <node pkg="mil_blueview_driver" type="blueview_driver" name="blueview_driver" >
        <rosparam>
            frame_id: blueview
            device: mil-com-teledyne-p900.ad.mil.ufl.edu
            raw:
                enable: True
            grayscale:
                enable: False
            color:
                enable: True
            # How often to send output (raw data / images), seconds
            period_seconds: -1.0
            range:
              stop: 100
            range_profile_intensity_threshold: 0
            noise_threshold: 0.4
        </rosparam>
        <param name="color/map_file" value="$(find mil_blueview_driver)/bvtsdk/colormaps/jet.cmap" />
    </node>
</launch>

