<launch>
    <node pkg="blueview_driver" type="blueview_driver" name="blueview_driver" >
        <rosparam>
            frame_id: blueview
            device: mil-com-teledyne-p900.ad.mil.ufl.edu
            raw:
                enable: True
            grayscale:
                enable: False
            color:
                enable: True
            # How often to send output (raw data / images), seconds
            period_seconds: 0.1
            range:
              stop: 15
        </rosparam>
        <param name="color/map_file" value="$(find bvtsdkpkg)/colormaps/jet.cmap" />
    </node>
</launch>

