<launch>
  <arg name="dvl" default="false" />
  <arg name="imu" default="false" />
  <arg name="depth" default="false" />

  <!-- DVL -->
  <group if="$(arg dvl)">
    <node pkg="sub8_launch" type="dvl_conn" name="dvl_conn" respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="dvl_driver" args="standalone rdi_explorer_dvl/nodelet">
      <param name="port" type="string" value="/tmp/dvl"/>
      <param name="frame_id" type="string" value="/dvl"/>
    </node>

  </group>

  <!-- Depth Sensor -->
  <group if="$(arg depth)" >
    <node pkg="sub8_launch" type="depth_conn" name="depth_conn" respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="depth_driver" args="standalone depth_driver/nodelet">
      <param name="port" type="string" value="/tmp/depth"/>
      <param name="frame_id" type="string" value="/depth"/>
    </node>
  </group>

  <!-- IMU -->
  <group if="$(arg imu)" >
    <node pkg="sub8_launch" type="imu_conn" name="imu_conn" respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="imu_driver" args="standalone adis16400_imu/nodelet">
      <param name="port" type="string" value="/tmp/imu"/>
      <param name="frame_id" type="string" value="/imu"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="magnetic_dynamic_compensation" args="standalone magnetic_dynamic_compensation/nodelet">
      <remap from="/imu/mag" to="/imu/mag_lessraw"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="magnetic_hardsoft_compensation" args="standalone magnetic_hardsoft_compensation/nodelet">
      <remap from="/imu/mag_raw" to="/imu/mag_lessraw"/>
      <param name="frame_id" type="string" value="/imu"/>
      <rosparam>
        scale:
        - [0.993770963897068, 0.00105871125374563, 7.659410525291767e-05]
        - [0.00105871125374563, 0.9996814868251349, -0.0011040738267441828]
        - [7.659410525291767e-05, -0.001104073826744163, 1.0065910531028952]
        shift: [1.2551999807772446e-06, -1.1666595150804588e-06, 6.895773090438596e-08]
      </rosparam>
    </node>

  </group>

</launch>
