<launch>
  <arg name="dvl" default="false" />
  <arg name="imu" default="false" />
  <arg name="depth" default="false" />

  <!-- DVL -->
  <group if="$(arg dvl)">
    <node pkg="sub8_launch" type="dvl_conn" name="dvl_conn" respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="dvl_driver" args="standalone rdi_explorer_dvl/nodelet">
      <param name="port" type="string" value="/tmp/dvl"/>
      <param name="frame_id" type="string" value="/dvl"/>
    </node>

  </group>

  <!-- Depth Sensor -->
  <group if="$(arg depth)" >
    <node pkg="sub8_launch" type="depth_conn" name="depth_conn" respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="depth_driver" args="standalone depth_driver/nodelet">
      <param name="port" type="string" value="/tmp/depth"/>
      <param name="frame_id" type="string" value="/depth"/>
    </node>
  </group>

  <!-- IMU -->
  <group if="$(arg imu)" >
    <node pkg="sub8_launch" type="imu_conn" name="imu_conn" respawn="true"/>
    <node pkg="nodelet" type="nodelet" name="imu_driver" args="standalone adis16400_imu/nodelet">
      <param name="port" type="string" value="/tmp/imu"/>
      <param name="frame_id" type="string" value="/imu"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="magnetic_dynamic_compensation" args="standalone magnetic_dynamic_compensation/nodelet">
      <remap from="/imu/mag" to="/imu/mag_lessraw"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="magnetic_hardsoft_compensation" args="standalone magnetic_hardsoft_compensation/nodelet">
      <remap from="/imu/mag_raw" to="/imu/mag_lessraw"/>
      <param name="frame_id" type="string" value="/imu"/>
      <rosparam>
        scale:
        - [0.9982931019416338, 0.0023102333998326566, 0.002160914618571937]
        - [0.002310233399832647, 0.9994071323591373, -0.003289886170484996]
        - [0.002160914618571956, -0.0032898861704851482, 1.0023249523223563]
        shift: [3.4849946764410286e-07, -2.9816507646102204e-07, 4.77379092036461e-07]
      </rosparam>
    </node>

  </group>

</launch>
