<launch>
    <node pkg="sub8_sonar" type="sonar_driver.py" name="sonar_driver" output="screen">
        <param name="port" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AH02X4IE-if00-port0"/>
        <param name="baud" value="19200"/>
        <rosparam param="hydrophones">
            <!-- millimeters for greater accuracy -->
            {   hydro0: {x:       0, y:       0, z:      0},
                hydro1: {x:   -25.4, y:       0, z:   25.4},
                hydro2: {x:    25.4, y:       0, z:      0},
                hydro3: {x:       0, y:   -25.4, z:      0} }
        </rosparam>
    </node>
</launch>