<!-- Make sure the Alarm server has been launched before launching this! -->
<launch>
  <rosparam file="$(find sub8_thruster_mapper)/config/thruster_layout.yaml" param="thruster_layout"/>

  <node pkg="sub8_thruster_mapper" type="mapper.py" name="thruster_mapper" />
  <node pkg="sub8_videoray_m5_thruster" type="thruster_driver.py" name="thruster_driver" />

  <node pkg="sub8_diagnostics" type="start_thruster_monitor" name="start_thruster_monitor"/>
</launch>
