<?xml version="1.0"?>
<robot name="navigator" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Defines the base vehicle -->
  <xacro:include filename="$(find wamv_description)/urdf/wamv_base.urdf.xacro"/>

  <!--Simulated sensors/actuators -->
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/mil_lidar.xacro"/>
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_gps.xacro"/>
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_imu.xacro"/>
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_camera.xacro"/>
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/ball_shooter.xacro"/>
  <xacro:include filename="$(find wamv_gazebo)/urdf/components/wamv_pinger.xacro"/>

  <xacro:property name="sensor_namespace" value="sensors/"/>
  <xacro:property name="camera_namespace" value="camera/"/>
  <xacro:property name="shooter_namespace" value="shooters/"/>
  <xacro:property name="pinger_namespace" value="pingers/"/>

  <xacro:wamv_camera name="front_left_cam" x="0.75" y="0.1" P="${radians(15)}"/>
  <xacro:wamv_camera name="front_right_cam" x="0.75" y="-0.1" P="${radians(-30)}"/>
  <xacro:mil_lidar name="velodyne" type="16_beam" P="${radians(8)}"/>
  <xacro:wamv_gps name="ins" x="-0.85"/>
  <xacro:wamv_imu name="imu_wamv" y="-0.2"/>
  <xacro:wamv_ball_shooter name="ball_shooter" x="0.54" y="0.3" z="1.3" pitch="-0.8" yaw="0.1"/>
  <xacro:wamv_pinger name="hydrophones" position="1 0 -1"/>

  <!-- Add 4 thrusters -->
  <xacro:include filename="$(find wamv_description)/urdf/thrusters/mil_engine.xacro"/>
  <xacro:property name="thruster_namespace" value="thrusters/"/>
  <!-- === engine === -->
  <xacro:mil_engine prefix="BL" position="-1.9304 1.016 0.318237" orientation="0.0 0.0 0.785398"/>
  <xacro:mil_engine prefix="BR" position="-1.9304 -1.016 0.318237" orientation="0.0 0.0 -0.785398"/>
  <xacro:mil_engine prefix="FL" position="1.5 0.6096 0.318237" orientation="0.0 0.0 -0.785398"/>
  <xacro:mil_engine prefix="FR" position="1.5 -0.6096 0.318237" orientation="0.0 0.0 0.785398"/>

  <gazebo>
    <plugin name="wamv_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find wamv_gazebo)/urdf/thruster_layouts/mil_gazebo_thruster_config.xacro"/>
      <xacro:mil_gazebo_thruster_config name="BL"/>
      <xacro:mil_gazebo_thruster_config name="BR"/>
      <xacro:mil_gazebo_thruster_config name="FL"/>
      <xacro:mil_gazebo_thruster_config name="FR"/>
    </plugin>
  </gazebo>

  <!-- Attach hydrodynamics plugin -->
  <xacro:include filename="$(find wamv_gazebo)/urdf/macros.xacro"/>
  <xacro:usv_dynamics_gazebo name="wamv_dynamics_plugin"/>

  <!-- Attach wind plugin -->
  <!-- Temporarily disabled pending updates for VRX compatibility
  <xacro:include filename="$(find vrx_gazebo)/worlds/xacros/usv_wind_plugin.xacro" />
  <xacro:usv_wind_gazebo />
  -->
</robot>
