<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="environment" default="real" />
  <arg name="port" default="10001" />
  <arg name="config_file" default="passive_sonar.yaml" />
  <arg name="ns" value="/hydrophones"/>

  <group if="$(eval environment == 'file' or environment == 'real')" ns="$(arg ns)">
    <node pkg="mil_passive_sonar" type="sylphase_sonar_ros_bridge" name="sylphase_sonar_ros_bridge" respawn="true">
      <param name="port" value="$(arg port)" />
      <param name="seconds_to_capture" value="0.1" />
      <param name="is_little_endian" value="true" />
    </node>
  </group>

  <group if="$(eval environment == 'real')" ns="$(arg ns)">
    <node pkg="mil_passive_sonar" type="run_sylphase_driver.sh" name="run_sylphase_driver"
          args="$(arg port)"
          respawn="true"
          respawn_delay="5" />
  </group>

  <group ns="$(arg ns)">
    <rosparam command="load" file="$(find subjugator_launch)/config/$(arg config_file)" />
    <node pkg="mil_passive_sonar" type="triggering.py" output="screen" name="triggering" respawn="true"/>
    <node pkg="mil_passive_sonar" type="ping_locator.py" output="screen" name="ping_locator" respawn="true"/>
    <node pkg="mil_tools" type="vector_to_marker.py" name="hydrophones_visualization"
          args="$(arg ns)/direction $(arg ns)/direction_marker --length 4" />
  </group>
</launch>
