<launch>
  <arg name="tensorflow" default="False" />
  <arg name="torp" default="False" />
  <arg name="threed" default="True" />
  <!-- roslaunch subjugator_launch perception.launch color_calibration:=gazebo_color_calibration.yaml -->
  <!--<arg name="color_calibration" default="default_color_calibration.yaml" />
  <include file="$(find subjugator_launch)/launch/subsystems/cameras.launch" />

  <rosparam file="$(find subjugator_launch)/config/course_geometry.yaml" />
  <rosparam file="$(find subjugator_launch)/config/$(arg color_calibration)" />

  <group ns="vision">
    <node if="$(arg torp)" pkg="subjugator_perception" type="torpedo_target_acq.py" name="arm_torpedos" output="screen">
      <rosparam file="$(find subjugator_launch)/config/torpedo_target_acq.yaml" command="load"/>
    </node>
    <node if="$(arg threed)" pkg="subjugator_perception" type="observation_pub.py" name="xyz_points" output="screen">
    </node>
    <node if="$(arg tensorflow)" pkg="subjugator_perception" type="object_detection.py" name="object_detection" output="screen">
      <rosparam file="$(find subjugator_launch)/config/path_localizer.yaml" command="load" />
    </node>
  </group>-->

  <!-- TODO: Create weights file for sub-->
  <arg name="weights" default="" />
  <arg name="image_topic" default="/camera/front/left/image_raw" />
  <arg name="out_topic" default="detections" />
  <arg name="conf_thresh" default="0.75" />
  <arg name="image_size" default="640" />
  <arg name="device" default="cuda" />

  <!-- Use YOLOv7 -->
  <include file="$(find yolov7_ros)/launch/yolov7.launch">
    <arg name="weights" value="$(arg weights)"/>
    <arg name="image_topic" value="$(arg image_topic)"/>
    <arg name="out_topic" value="$(arg out_topic)"/>
    <arg name="conf_thresh" value="$(arg conf_thresh)"/>
    <arg name="image_size" value="$(arg image_size)"/>
    <arg name="device" value="$(arg device)"/>
  </include>

</launch>
