<?xml version="1.0"?>
<launch>
  <arg name="front_left"  default="True" />
  <arg name="front_right" default="True" />
  <include if="$(arg front_left)" file="$(find navigator_launch)/launch/hardware/cameras/front_left.launch" />
  <include if="$(arg front_right)" file="$(find navigator_launch)/launch/hardware/cameras/front_right.launch" />
</launch>

