<launch>
  <arg name="front_left"  default="True" />
  <arg name="front_right" default="False" />
  <!-- Nodelet Manager Process -->
  <group ns="camera/front">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager"
          args="manager" />

    <!-- Left/Right Camera Driver Nodelets -->

    <!-- LEFT CAMERA-->
    <node if="$(arg front_left)" pkg="nodelet" type="nodelet" name="front_left_camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager">
          <param name="serial" value="15223364" />
          <param name="camera_info_url" value="file://$(find navigator_launch)/config/camera_calibration/00b09d0100e84a44.yaml"/>
          <param name="frame_id" value="front_left_cam"/>
          <param name="video_mode" value="format7_mode4"/>
          <param name="format7_color_coding" value="raw8"/>
          <param name="frame_rate" value="15" />

          <remap from="camera" to="left"/>
          <remap from="image_raw" to="left/image_raw"/>
          <remap from="set_camera_info" to="left/set_camera_info"/>
    </node>

    <!-- RIGHT CAMERA -->
    <node if="$(arg front_right)" pkg="nodelet" type="nodelet" name="front_right_camera_nodelet"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager">
          <param name="serial" value="15223362" />
          <param name="camera_info_url" value="file://$(find navigator_launch)/config/camera_calibration/00b09d0100e84a42.yaml"/>
          <param name="frame_id" value="front_right_cam"/>
          <param name="video_mode" value="format7_mode4"/>
          <param name="format7_color_coding" value="raw8"/>
          <param name="frame_rate" value="15" />

          <remap from="camera" to="right"/>
          <remap from="image_raw" to="right/image_raw"/>
          <remap from="set_camera_info" to="right/set_camera_info"/>
    </node>


    <!-- Image Processing Nodelets -->

    <!-- LEFT CAMERA -->
    <!-- Bayer color decoding -->
    <node if="$(arg front_left)" pkg="nodelet" type="nodelet" name="left_image_proc_debayer"
        args="load image_proc/debayer camera_nodelet_manager">
     <remap from="image_color" to="left/image_color" />
     <remap from="image_mono" to="left/image_mono" />
     <remap from="image_raw" to="left/image_raw" />
    </node>

    <!-- mono rectification -->
    <node if="$(arg front_left)" pkg="nodelet" type="nodelet" name="left_image_proc_rect"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="left/image_mono" />
      <remap from="image_rect" to="left/image_rect" />
    </node>

    <!-- color rectification -->
    <node if="$(arg front_left)" pkg="nodelet" type="nodelet" name="left_image_proc_rect_color"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="left/image_color" />
      <remap from="image_rect" to="left/image_rect_color" />
    </node>

    <!-- RIGHT CAMERA -->
    <!-- Bayer color decoding -->
    <node if="$(arg front_right)" pkg="nodelet" type="nodelet" name="right_image_proc_debayer"
        args="load image_proc/debayer camera_nodelet_manager">
     <remap from="image_color" to="right/image_color" />
     <remap from="image_mono" to="right/image_mono" />
     <remap from="image_raw" to="right/image_raw" />
    </node>

    <!-- mono rectification -->
    <node if="$(arg front_right)" pkg="nodelet" type="nodelet" name="right_image_proc_rect"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="right/image_mono" />
      <remap from="image_rect" to="right/image_rect" />
    </node>

    <!-- color rectification -->
    <node if="$(arg front_right)" pkg="nodelet" type="nodelet" name="right_image_proc_rect_color"
          args="load image_proc/rectify camera_nodelet_manager">
      <remap from="image_mono" to="right/image_color" />
      <remap from="image_rect" to="right/image_rect_color" />
    </node>
  </group>
</launch>

