<?xml version="1.0"?>
<launch>
  <arg name="simulation" default="False" />
  <group ns="camera/starboard">
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager"
          args="manager" />

    <!-- STARBOARD CAMERA-->
    <node pkg="nodelet" type="nodelet" name="starboard_camera_nodelet" unless="$(arg simulation)"
          args="load pointgrey_camera_driver/PointGreyCameraNodelet camera_nodelet_manager">
          <param name="serial" value="16363452" />
          <param name="camera_info_url" value="file://$(find navigator_launch)/config/camera_calibration/00b09d0100f9afbc.yaml"/>
          <param name="frame_id" value="starboard_cam_optical"/>
          <param name="num_dma_buffers" value="10"/>
          <param name="video_mode" value="format7_mode4"/>
          <!-- TODO: add framerate once we figure out what the model is -->
    </node>

    <!-- Bayer color decoding -->
    <node pkg="nodelet" type="nodelet" name="starboard_image_proc_debayer"
        args="load image_proc/debayer camera_nodelet_manager">
    </node>

    <!-- mono rectification -->
    <node pkg="nodelet" type="nodelet" name="starboard_image_proc_rect"
          args="load image_proc/rectify camera_nodelet_manager">
    </node>

    <!-- color rectification -->
    <node pkg="nodelet" type="nodelet" name="starboard_image_proc_rect_color"
          args="load image_proc/rectify camera_nodelet_manager">
        <remap from="image_mono" to="image_color" />
        <remap from="image_rect" to="image_rect_color" />
    </node>
  </group>
</launch>
