<launch>
  <arg name="mode" default="2d"/>
  <arg name="auto" default="false"/>

  <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" />
  <node pkg="sub8_missions" type="waypoint_utility.py" name="waypoint_utility" args="$(arg mode)"/>

  <node pkg="sub8_alarm" type="network_keepalive.py" name="network_keepalive">
  	<param name="auto" value="$(arg auto)" />
  </node>

  <node pkg="sub8_missions" type="rviz_visualizer.py" name="rviz_visualizer" />


  <!-- Load model into rviz -->
  <param name="robot_description" command="cat $(find sub8_missions)/tools/sub8/sub8.xml" />

</launch>
