<launch>

  <include file="$(find sub8_launch)/launch/tf.launch" />

  <include file="$(find sub8_launch)/launch/subsystems/nav_box.launch" >
    <arg name="imu" value="true" />
    <arg name="dvl" value="true" />
    <arg name="depth" value="true" />
  </include>

  <include file="$(find sub8_launch)/launch/subsystems/perception.launch"/>
  <!-- <include file="$(find sub8_launch)/launch/subsystems/sonar.launch"/> -->
  <include file="$(find sub8_launch)/launch/subsystems/odometry.launch"/>
  <include file="$(find sub8_launch)/launch/subsystems/thrusters.launch"/>
  <include file="$(find sub8_launch)/launch/subsystems/rise.launch"/>

  <node pkg="kill_handling" type="kill_master" name="kill_master"/>
  <node pkg="kill_handling" type="kill_on_cond" name="height_over_bottom_kill">
    <remap from="topic" to="dvl/range"/>
    <param name="cond" value="data &lt; .2"/>
  </node>

  <node pkg="sub8_alarm" type="network_listener.py" name="network_listener" output="screen"/>
  <node pkg="sub8_missions" type="auto_mission" name="auto_mission_runner" output="screen"/>
</launch>
