<launch>
  <!-- This is not exactly right, because of weirdness in the K-matrix from camera_info for the stereo cams -->
    <node pkg="tf" type="static_transform_publisher" name="front_cams_broadcaster"
      args="0.2559 0 0.1707   0.5 -0.5  0.5  -0.5 base_link front_stereo 100">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="front_left_cam_broadcaster"
      args="-0.0445 0 0   0 0 0 1 front_stereo front_left_cam 100">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="front_right_cam_broadcaster"
      args="0.0445 0 0   0 0 0 1 front_stereo front_right_cam 100">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="camera_down_broadcaster"
      args="0.054 0.105 -0.256 1 0 0 0 base_link down_left_cam 100">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="dvl_broadcaster"
      args="0.0908 0 -0.2459  0 0 0.38268343 0.92387953  base_link dvl 100" >
    </node>

    <node pkg="tf" type="static_transform_publisher" name="depth_broadcaster"
      args="-0.2352 0 -0.1701  0 0 0 1  base_link depth 100">
    </node>

    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster"
      args="0.21236 0.00254 -0.10233  0.0 -0.70710678 0.0 0.70710678  base_link imu 100" />

    <node pkg="sub8_launch" type="tf_republisher.py" name="tf_replublisher" />

    <!-- Accounts for change of axis for blueview SDK output x is forward, y is right, z is down-->
    <node pkg="tf" type="static_transform_publisher" name="blueview_broadcaster"
      args="0.333 0 0.381  -1 0 0 0 base_link blueview 100">
    </node>

    <!-- TODO: make sure this TF is correct -->
    <node pkg="tf" type="static_transform_publisher" name="hyd_broadcaster"
    args="-0.0908 0 -0.2459 1.571 0 0 base_link hydrophones 100" />

</launch>
