<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="simulated" default="True" />
  <param name="/is_simulation" value="$(arg simulated)" />

  <node pkg="mil_usb_to_can" type="driver.py" name="usb_to_can_driver">
    <rosparam>
    port: /dev/serial/by-id/usb-MIL_Data_Merge_Board_Ports_5_to_8_DMBP58-if00-port0
    baudrate: 9600
    device_handles: 
      "0": mil_usb_to_can.ExampleCANDeviceHandle
    simulated_devices:
      "0": mil_usb_to_can.ExampleSimulatedCANDevice
    </rosparam>
  </node>
</launch>
