<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="simulated" default="False" />
  <param name="/is_simulation" value="$(arg simulated)" />

  <node pkg="mil_usb_to_can" type="driver.py" name="usb_to_can_driver">
    <rosparam>
    port: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A900KV22-if00-port0
    baudrate: 115200
    device_handles:
      "9": mil_usb_to_can.ExampleCANDeviceHandle
    simulated_devices:
      "9": mil_usb_to_can.ExampleSimulatedCANDevice
    </rosparam>
  </node>
</launch>
