<!-- -*- mode: XML -*- -->

<!-- View Bayer color-corrected images for testing camera1394.

     this is a test script: NOT FOR GENERAL USE
-->

<launch>
  <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc" />
  <node pkg="image_view" type="image_view" name="image_view" >
    <remap from="image" to="camera/image_color" />
  </node>
</launch>
