<!-- -*- mode: XML -*- -->

<!-- Example launch file for multiple cameras. -->

<launch>

  <!-- first camera and associated image pipeline -->
  <group ns="unibrain" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" >
      <param name="guid" value="08144361026320a0" />
      <param name="video_mode" value="640x480_yuv411" />
      <param name="frame_id" value="unibrain" />
      <param name="camera_info_url"
             value="package://camera1394/tests/unibrain_calibration.yaml" />
    </node>
    <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc" />
    <node pkg="image_view" type="image_view" name="image_view" >
      <remap from="image" to="camera/image_rect_color" />
    </node>
  </group>

  <!-- second camera and associated image pipeline -->
  <group ns="sony" >
    <node pkg="camera1394" type="camera1394_node" name="camera1394_node" >
      <param name="guid" value="0800461000821fa2" />
      <param name="video_mode" value="1280x960_mono8" />
      <param name="frame_id" value="sony" />
      <param name="bayer_pattern" value="gbrg" />
      <param name="camera_info_url"
             value="package://camera1394/tests/sony_calibration.yaml" />
    </node>
    <node ns="camera" pkg="image_proc" type="image_proc" name="image_proc" />
    <node pkg="image_view" type="image_view" name="image_view" >
      <remap from="image" to="camera/image_rect_color" />
    </node>
  </group>

  <!-- monitoring and configuration tools -->
  <node pkg="rxtools" type="rxconsole" name="rxconsole" />
  <node pkg="dynamic_reconfigure" type="reconfigure_gui"
        name="reconfigure_gui" />

</launch>
