<!-- -*- mode: XML -*- -->

<!-- Start a standalone nodelet driver for a specific IEEE1394 digital camera.

     this is a test script: NOT FOR GENERAL USE

     arg: camera = base file name of camera YAML parameters
                   (default: unibrain)
-->

<launch>

  <arg name="camera" default="unibrain" />
  <node pkg="nodelet" type="nodelet" name="camera1394_nodelet"
        args="standalone camera1394/driver" >
    <rosparam
       file="$(find camera1394)/tests/$(arg camera).yaml" /> 
  </node>

</launch>
