<!-- -*- mode: XML -*- -->

<!-- Example launch file for a pair of stereo cameras. -->

<launch>

  <!-- run both cameras in the stereo namespace -->
  <group ns="stereo" >

    <!-- left camera -->
    <node pkg="camera1394" type="camera1394_node" name="left_node" >
      <rosparam file="$(find camera1394)/tests/left.yaml" /> 
      <remap from="camera" to="left" />
    </node>

    <!-- right camera -->
    <node pkg="camera1394" type="camera1394_node" name="right_node" >
      <rosparam file="$(find camera1394)/tests/right.yaml" /> 
      <remap from="camera" to="right" />
    </node>

  </group>

</launch>
