<!-- -*- mode: XML -*- -->

<!-- Example launch file for stereo cameras using nodelets. 

     Only a example: NOT FOR GENERAL USE.
  -->

<launch>

  <group ns="stereo" >

    <!-- nodelet manager process -->
    <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager"
          args="manager" >
    </node>

    <!-- left camera -->
    <node pkg="nodelet" type="nodelet" name="left_camera"
          args="load camera1394/driver camera_nodelet_manager" >
      <rosparam file="$(find camera1394)/tests/left.yaml" />
      <remap from="camera" to="left" />
    </node>

    <!-- right camera -->
    <node pkg="nodelet" type="nodelet" name="right_camera"
          args="load camera1394/driver camera_nodelet_manager" >
      <rosparam file="$(find camera1394)/tests/right.yaml" />
      <remap from="camera" to="right" />
    </node>

    <!-- stereo image pipeline -->

    <!-- Bayer color decoding 
    <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
	  args="load image_proc/debayer camera_nodelet_manager">
      <remap from="camera_info" to="camera/camera_info" />
      <remap from="image_color" to="camera/image_color" />
      <remap from="image_mono" to="camera/image_mono" />
      <remap from="image_raw" to="camera/image_raw" />
    </node>
-->
    <!-- mono rectification 
    <node pkg="nodelet" type="nodelet" name="image_proc_rect"
	  args="load image_proc/rectify camera_nodelet_manager">
      <remap from="camera_info" to="camera/camera_info" />
      <remap from="image_mono" to="camera/image_mono" />
      <remap from="image_rect" to="camera/image_rect" />
    </node>
-->
    <!-- color rectification 
    <node pkg="nodelet" type="nodelet" name="image_proc_rect_color"
	  args="load image_proc/rectify camera_nodelet_manager">
      <remap from="camera_info" to="camera/camera_info" />
      <remap from="image_mono" to="camera/image_color" />
      <remap from="image_rect" to="camera/image_rect_color" />
    </node>
-->
  </group>

  <!-- monitoring and configuration tools -->
  <node pkg="rxtools" type="rxconsole" name="rxconsole" />
  <!--
  <node pkg="dynamic_reconfigure" type="reconfigure_gui"
        name="reconfigure_gui" />
  -->
</launch>
