<!-- -*- mode: XML -*- -->

<!-- View images for testing camera1394.

     this is a test script: NOT FOR GENERAL USE

     arg: topic = base topic name (default: image_raw)
-->

<launch>
  <arg name="topic" default="image_raw" />
  <node pkg="image_view" type="image_view" name="$(anon image_view)" >
    <remap from="image" to="camera/$(arg topic)" />
  </node>
</launch>
