<?xml version="1.0"?>
<launch>
  <!--TODO: make contoller -->
  <arg name="environment" default="real"/>
  <rosparam file="$(find indyav_launch)/config/actuators.yaml" command="load"/>
  <group if="$(eval environment == 'gazebo')">
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="car/simulated_hardware_controllers/steering/left
            car/simulated_hardware_controllers/steering/right
            joint_state_publisher"/>
    <node name="simualted_steering_driver" pkg="indyav_control" type="simulated_steering_driver"
      respawn="true">
      <param name="input_topic" value="/steering"/>
    </node>
  </group>
  <node name="wheel_contact" pkg="indyav_gazebo" type="wheel_touch_ground">
      <param name="wheel_touch_ground" value="false"/>
  </node>

</launch>
