<?xml version="1.0"?>
<launch>

 <!-- Joystick Driver -->
  <node pkg="joy" type="joy_node" name="joy">
   <param name="dev" value="/dev/input/js1"/>
   <param name="autorepeat_rate" value="10"/>
  </node>

 <!--Axes-->
 <node pkg="indyav_control" type="joy_teleop" name="joy_teleop">
  <param name="axis_steer" value="1" type="int"/>
  <param name="axis_throttle" value="5" type="int"/>
  <param name="axis_brake" value="2" type="int"/> 
  <param name="scale_steer" value="5" type="double"/>
  <param name="scale_trigger" value="1000" type="double"/>
  <param name="throttle_topic" value="throttle"/>
  <param name="steering_topic" value="steering"/>
 </node>

</launch>

