<?xml version="1.0"?>
<launch>

 <!-- Joystick Driver -->
  <arg name="js" default="js0"/>
  <node pkg="joy" type="joy_node" name="joy" output="screen">
   <param name="dev" value="/dev/input/$(arg js)"/>
   <param name="autorepeat_rate" value="10"/>
  </node>

 <!--Joystick Teleop-->
 <node pkg="indyav_control" type="joy_teleop" name="joy_teleop" output="screen">
  <param name="axis_steer" value="0" type="int"/>
  <param name="axis_throttle" value="5" type="int"/>
  <param name="scale_steer" value="0.785398" type="double"/>
  <param name="scale_trigger" value="74.9906262" type="double"/>
  <param name="throttle_topic" value="/throttle"/>
  <param name="steering_topic" value="/steering"/>
 </node>

</launch>
