<?xml version="1.0"?>
<launch>
  <arg name="environment" default="real"/>
  <include file="$(find indyav_launch)/launch/tf.launch"/>
  <include file="$(find indyav_launch)/launch/controls.launch">
    <arg name="environment" value="$(arg environment)"/>
  </include>
  <include file="$(find indyav_launch)/launch/odometry.launch">
    <arg name="environment" value="$(arg environment)"/>
  </include>
  <include file="$(find indyav_launch)/launch/hardware.launch">
    <arg name="environment" value="$(arg environment)"/>
  </include>
</launch>
