<?xml version="1.0" encoding="UTF-8" ?>
<launch>
  <arg name="file" default="$(find indyav_path)/paths/test2.bin"/>
  <group ns="path">
    <node pkg="indyav_path" type="path_player" name="path_player" output="screen">
      <param name="file_name" value="$(arg file)"/>
      <param name="play_topic" value="/path"/>
    </node>
  </group>
</launch>
