<?xml version="1.0"?>
<launch>
  <include file="$(find indyav_launch)/launch/upload_urdf.launch" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="use_tf_static" value="true" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_ins_broadcaster"
        args="-0.05 -0.0 -0.05 0 0 0 ins base_link 100" />
</launch>
