<launch>
  <!-- Disabled because not attached to NaviGator currently -->
  <!-- include file="$(find navigator_launch)/launch/subsystems/shooter.launch" /-->

  <include file="$(find navigator_launch)/launch/subsystems/motor_controller.launch"/>
  <include file="$(find navigator_launch)/launch/subsystems/kill_board.launch"/>
</launch>
