<launch>

    <arg name="gui" default="False"/>
    <arg name="wind" default="None"/>

    <!-- Launch Fake Shooter Service Provider -->
        <node pkg="navigator_shooter" type="ShooterControl.py" name="shooter_controller">
          <rosparam file="$(find navigator_shooter)/launch/config.yaml" />
        </node>

        <include file="$(find navigator_missions)/launch/task_runner.launch" />
        <include file="$(find navigator_launch)/launch/alarms.launch"/>
        <include file="$(find navigator_launch)/launch/gnc.launch">
          <arg name="gps" value="False" />
        </include>



        <!-- Sets up the world and loads models -->
        <include file="$(find navigator_2Dsim)/launch/owl.launch">
            <arg name="gui" value="$(arg gui)"/>
            <arg name="wind" value="$(arg wind)"/>
        </include>

        <!-- Connect to joystick if plugged in, otherwise spam annoying red text ;) -->
        <node pkg="joy" type="joy_node" name="joy_node">
            <param name="dev" type="string" value="/dev/input/by-id/usb-045e_0291-joystick" />
            <param name="deadzone" value="0.12" />
            <param name="autorepeat_rate" value="5"/>
        </node>
</launch>