<launch>
	<node pkg="navigator_sim_model" type="sim.py" name="navigator_sim_model">
		<rosparam param="initial_position">[0, 0, 0]</rosparam>
		<param name="boat_mass" value="36.2874" type="double"/>
		<param name="boat_length" value="1.78" type="double"/>
		<param name="boat_width" value=".88" type="double"/>
		<param name="boat_height" value=".41" type="double"/>
		<param name="port_servo_x_offset" value="-0.7239" type="double"/>
		<param name="port_servo_y_offset" value="0.3048" type="double"/>
		<param name="starboard_servo_x_offset" value="-0.7239" type="double"/>
		<param name="starboard_servo_y_offset" value="-0.3048" type="double"/>
		<param name="friction_coefficient_forward" value="100.0181" type="double"/>
		<param name="friction_coefficient_forward_reduction" value="0.76462" type="double"/>
		<param name="friction_coefficient_lateral" value="200.0" type="double"/>
		<param name="friction_coefficient_lateral_reduction" value="0.0" type="double"/>
		<param name="friction_coefficient_rotational" value="100.3321" type="double"/>
		<param name="friction_coefficient_rotational_reduction" value="0.0" type="double"/>
	</node>

	<include file="$(find navigator_launch)/launch/gnc.launch"/>
</launch>
