<!--
    This file launches both the simulator as well as the gnc.launch file
    It should contain everything needed to simulate moving the boat
-->

<launch>
    <param name="/is_simulation" type="bool" value="True" />
    <arg name="gazebo" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="sandbox" default="true"/>
    <arg name="cameras" default="true" />

    <!-- Launch Fake Shooter Service Provider -->
    <node pkg="navigator_shooter" type="ShooterControl.py" name="shooter_controller">
      <rosparam file="$(find navigator_shooter)/launch/config.yaml" />
    </node>

    <include file="$(find navigator_launch)/launch/subsystems/alarms.launch"/>
    <include file="$(find navigator_launch)/launch/subsystems/path_planner.launch"/>
    <include file="$(find navigator_launch)/launch/gnc.launch"/>
    <!--node name="gnc_delayed_start" pkg="navigator_gazebo" type="delayed_start.sh"/-->


    <!-- Sets up the world and loads models -->
    <include file="$(find navigator_gazebo)/launch/goose.launch" if="$(arg gazebo)">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="sandbox" value="$(arg sandbox)"/>
    </include>

    <!-- This all is launched on boot on the boat -->
    <node name="coordinate_converter" pkg="navigator_tools" type="coordinate_conversion_server.py"/>
    <node name="rviz_repub" pkg="mil_tools" type="rviz_waypoint.py"/>
    <node name="bounds_server" pkg="navigator_tools" type="bounds.py"/>
    <node name="set_bounds" pkg="dynamic_reconfigure" type="dynparam" args="load /bounds_server $(find navigator_tools)/cfg/sim.yaml -t 10" />

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" type="string" value="/dev/input/by-id/usb-045e_0291-joystick" />
        <param name="deadzone" value="0.12" />
        <param name="autorepeat_rate" value="5"/>
    </node>

    <group unless="$(arg gazebo)">
        <include file="$(find navigator_launch)/launch/perception.launch"/>
        <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
    </group>
    <group ns="/camera" if="$(arg cameras)">
      <group ns="front">
        <node pkg="image_proc" type="image_proc" name="front_left_image_proc" ns="left" />
        <node pkg="image_proc" type="image_proc" name="front_right_image_proc" ns="right" />
      </group>
      <group ns="down">
        <node pkg="image_proc" type="image_proc" name="down_image_proc"/>
      </group>
      <group ns="starboard">
        <node pkg="image_proc" type="image_proc" name="starboard_image_proc"/>
      </group>
    </group>

</launch>
