<!-- These are all approximate values and probably should be remeasured -->
<launch>
    <node pkg="tf" type="static_transform_publisher" name="ins_tf" args=".37084 .0.05715 .7493  0 0 0 1  /base_link /ins 100" />
    <node pkg="tf" type="static_transform_publisher" name="lidar_tf" args=".5334 0.0127 .7493  0 0 0 1  /base_link /lidar 100" />
    <node pkg="tf" type="static_transform_publisher" name="forward_camera_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /> 

    <!-- Not at fixed positions yet -->
    <!--node pkg="tf" type="static_transform_publisher" name="right_camera_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /--> 
    <!--node pkg="tf" type="static_transform_publisher" name="down_camera_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /--> 
    <!--node pkg="tf" type="static_transform_publisher" name="shooter_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /--> 

    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
</launch>