<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mil_inclinometer" params="name:=inclinometer parent:='base_link' xyz:='0 0 0' rpy='0 0 0' rate:=100 lx:=0 ly:=0 lz:=0">
    <link name="${name}" />
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>
    <gazebo reference="${name}">
      <sensor type="imu" name="${name}_sensor">
        <always_on>true</always_on>
        <update_rate>${rate}</update_rate>
        <imu>
          <linear_acceleration>
            <x><noise type="gaussian"><stddev>${lx}</stddev></noise></x>
            <y><noise type="gaussian"><stddev>${ly}</stddev></noise></y>
            <z><noise type="gaussian"><stddev>${lz}</stddev></noise></z>
          </linear_acceleration>
        </imu>
        <plugin name="${name}_plugin" filename="libmil_inclinometer_gazebo.so">
          <frame_id>${name}</frame_id>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>