<launch>
  <node pkg="navigator_vision" type="shape_identification" name="shape_identification">
    <rosparam file="$(find navigator_launch)/config/shape_finder.yaml" />
    <param name="symbol_camera" value="/camera/starboard/image_rect_color"/>
    <param name="image_transport" value="raw" />
    <param name="get_shapes_topic" value="/vision/get_shapes" />
    <param name="auto_start" value="false" />
  </node>
  <node pkg="mil_vision" type="camera_lidar_transformer" name="camera_lidar_transformer">
    <param name="camera_to_lidar_transform_topic" value="/camera_to_lidar/starboard_cam" />
    <param name="camera_info_topic" value="/camera/starboard/camera_info" />
    <param name="auto_start" value="false" />
  </node>
</launch>
