<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher">
      <param name="use_tf_static" value="false" />
    </node>
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
      <rosparam>
        source_list:
          - /thruster_states
      </rosparam>
    </node>

    <!-- Republishes ins-frame odom in base_link frame -->
    <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
        <rosparam>
            frame_id: /enu
            child_frame_id: /base_link
        </rosparam>
        <remap from="orig_odom" to="ins_odom"/>
    </node>

    <!-- Republishes ins-frame absodom in enu frame -->
    <node pkg="nodelet" type="nodelet" name="transform_odometry_absodom" args="standalone odometry_utils/transform_odometry">
        <rosparam>
            frame_id: /ecef
            child_frame_id: /enu
        </rosparam>
        <remap from="orig_odom" to="absodom"/>
        <remap from="odom" to="enu_odom"/>
    </node>

    <!-- Publishes transform from /enu to /base_link based on odometry -->
    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>

    <!-- Publishes transform from /ecef to /emu based on odometry -->
    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="absodom_to_tf">
      <remap from="odom" to="enu_odom" />
    </node>
</launch>
