<launch>
  <param name="use_sim_time" value="true" />
  <param name="simulate" value="true" />
  <arg name="gui" default="false" />
  <arg name="turbulence" default="false" />

  <!-- start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false"
    args="-r $(find sub8_gazebo)/worlds/a_whole_new.world" />
   
  <node
    name="spawn_sub" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find sub8_gazebo)/models/sub8/sub8.sdf -sdf
      -x 13.0 -y 24.0 -z -1.0 -model sub8"
    output="screen" />

  <node pkg="sub8_gazebo" type="gazebo_controller.py" name="gazebo_interface" />

  <include file="$(find sub8_launch)/launch/subsystems/rise.launch" />
  <include file="$(find sub8_thruster_mapper)/launch/thruster_mapper.launch" />
  <include file="$(find sub8_videoray_m5_thruster)/launch/thruster_driver.launch" />

  <node pkg="kill_handling" type="kill_master" name="kill_master"/>

  <include file="$(find sub8_launch)/launch/tf.launch" />
  <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
  <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
    <rosparam>
      frame_id: /map
      child_frame_id: /base_link
    </rosparam>
    <remap from="orig_odom" to="imu_odom"/>
  </node>

</launch>
