<launch>
  <param name="simulate" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sub8_gazebo)/worlds/contact.world" />
    <!-- more default parameters can be changed here -->
  </include>

  <node
    name="spawn_sub" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find sub8_gazebo)/models/sub8/sub8.sdf -sdf
      -x 0.0 -y 0.0 -z -15.0 -model sub8"
    output="screen" />

  <!-- Buoys -->
  <node
    name="spawn_buoy_red" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find sub8_gazebo)/models/buoys/red.sdf -sdf
      -x 7.0 -y 0.0 -z -17.0 -model red"
    output="screen" />

  <node
    name="spawn_buoy_green" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find sub8_gazebo)/models/buoys/green.sdf -sdf
      -x 7.0 -y -1.0 -z -17.0 -model green"
    output="screen" />

  <node
    name="spawn_buoy_yellow" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find sub8_gazebo)/models/buoys/yellow.sdf -sdf
      -x 7.0 -y 1.0 -z -17.0 -model yellow"
    output="screen" />

  <node
    name="spawn_chnl_marker_1" pkg="gazebo_ros" type="spawn_model"
    args="-file $(find sub8_gazebo)/models/markers/channel_marker.sdf -sdf
      -x 0.0 -y 0.0 -z -19.0 -Y 1.0 -model channel_marker_1"
    output="screen" />

  <node pkg="sub8_gazebo" type="gazebo_controller.py" name="gazebo_interface" />

  <include file="$(find sub8_launch)/launch/subsystems/rise.launch" />
  <include file="$(find sub8_thruster_mapper)/launch/thruster_mapper.launch" />
  <include file="$(find sub8_videoray_m5_thruster)/launch/thruster_driver.launch" />

  <node pkg="kill_handling" type="kill_master" name="kill_master"/>

  <include file="$(find sub8_launch)/launch/tf.launch" />
  <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
  <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
    <rosparam>
      frame_id: /map
      child_frame_id: /base_link
    </rosparam>
    <remap from="orig_odom" to="imu_odom"/>
  </node>
  <include file="$(find camera1394)/launch/stereo.launch"/>
</launch>
