<library path="src">
  <class name="Mission Runner Dashboard" type="mil_missions_gui.Dashboard" base_class_type="rqt_gui_py::Plugin">
    <description>
      RQT Dashboard to monitor onboard systems and change the control device
    </description>
    <qtgui>
     <label>Mission Runner Dashboard</label>
      <statustip>Test</statustip>
    </qtgui>
  </class>
</library>
