<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="posters">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.845799030574502 0.235133630886068 0.00991648343875995"
        rpy="0 0 0" />
      <mass
        value="8.45052355234117" />
      <inertia
        ixx="0.978465544834815"
        ixy="0.03883853043421"
        ixz="0.00201549712115228"
        iyy="0.239042305507611"
        iyz="-0.0222223133291997"
        izz="1.2161184690167" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://posters/base_link.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://posters/base_link.dae" />
      </geometry>
    </collision>
  </link>
</robot>
