<launch>
    <arg name="3dmouse" default="false" />
    <arg name="demo_mode" default="false" />

    <!-- <param name="use_sim_time" value="true" /> -->
    <param name="simulate" value="true" />
    <param name="3dmouse" value="$(arg 3dmouse)" type="bool" />

    <!-- Alarm system -->
    <node pkg="sub8_alarm" type="alarm_handler.py" name="sub8_alarm_handler" output="screen" />

    <!-- Vehicle control -->
    <include file="$(find sub8_thruster_mapper)/launch/thruster_mapper.launch" />
    <include file="$(find sub8_videoray_m5_thruster)/launch/thruster_driver.launch" />
    <include file="$(find sub8_launch)/launch/rise.launch" />
    <group if="$(arg demo_mode)" >
        <!-- If we're in demo mode - we use a super simple perfect knowledge controller
            This is so that things like the TGEN can be tested when our sophisticated controllers are not yet ready -->
        <node pkg="sub8_controller" type="pd_controller" name="pdcontroller" output="screen"/>
    </group>

    <!-- Actual Simulation -->
    <remap from="/truth/odom" to="/odom" />
    <node pkg="sub8_simulation" type="simulate.py" name="sub8_simulation" output="screen" />

    <group if="$(arg 3dmouse)" >
        <!-- ROS Node for interface with 3D Mouse -->
        <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" output="screen">
          <param name="zero_when_static" value="true" />
          <param name="static_count_threshold" value="30" />
        </node>

        <!-- 3D Mouse Remapper node (Our own) -->
        <node pkg="sub8_simulation" type="spacenav_remap.py" name="spacenav_remap" output="screen" >
            <rosparam name="behavior" value="wrench" />
        </node>
    </group>

    <!-- Old stuff -->
    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster"
        args="0.21236 0.00254 -0.10233  0.0 -0.70710678 0.0 0.70710678  base_link imu 100" />
    <node pkg="tf" type="static_transform_publisher" name="depth_broadcaster"
        args="-0.2352 0 -0.1701  0 0 0 1  base_link depth 100" />
    <node pkg="tf" type="static_transform_publisher" name="dvl_broadcaster"
        args="0.0908 0 -0.2459  0 0 0.38268343 0.92387953  base_link dvl 100" />

    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
    <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
        <rosparam>
            frame_id: /map
            child_frame_id: /base_link
        </rosparam>
        <remap from="orig_odom" to="imu_odom"/>
    </node>


</launch>