<launch>
    <arg name="simulation" default="False" />
    <param name="is_vrx" value="False"/>
    <arg name="online-bagger" default="True" />

    <!-- Load model into rviz -->
    <include file="$(find navigator_launch)/launch/upload_urdf.launch"/>
    <include file="$(find navigator_launch)/launch/alarms.launch"/>
    <include file="$(find navigator_launch)/launch/diagnostics.launch" />
    <include if="$(arg online-bagger)" file="$(find navigator_launch)/launch/online_bagger.launch" />
    <include unless="$(arg simulation)" file="$(find navigator_launch)/launch/hardware.launch"/>
    <include unless="$(arg simulation)" file="$(find navigator_launch)/launch/perception/classifier.launch" >
        <arg name="main_image_topic" value="/camera/front/right/image_color"/>
        <arg name="use_yolo_model1" value="True"/>
        <arg name="use_yolo_model2" value="False"/>
        <arg name="weights_model1" value="$(find yolov7_ros)/src/mil_weights/robotx.pt" />
        <arg name="weights_model2" value="$(find yolov7_ros)/src/mil_weights/robotx.pt" />
	<arg name="data_yaml_model1" value="$(find yolov7_ros)/src/data/buoys.yaml" />
	<arg name="data_yaml_model2" value="$(find yolov7_ros/src/data/buoys.yaml" />
    </include>

    <include file="$(find navigator_launch)/launch/gnc.launch">
       <arg name="simulation" value="$(arg simulation)" />
    </include>
    <include file="$(find navigator_missions)/launch/mission_runner.launch" />
    <include file="$(find navigator_launch)/launch/robotx_comms.launch">
      <arg name="simulation" value="$(arg simulation)"/>
    </include>

    <!-- POI (point of interest) server -->
    <include file="$(find navigator_launch)/launch/poi.launch">
      <arg name="simulation" value="$(arg simulation)" />
    </include>
</launch>
