<launch>

    <arg name="td_ip" default="192.168.37.90" />
    <arg name="td_port" default="1337" />
    <arg name="team_id" default="GATR" />
    <arg name="simulation" default="False"/>

    <!-- start robotx_comms node -->

    <group unless="$(arg simulation)">
        <node name="navigator_robotx_comms" pkg="navigator_robotx_comms" type="robotx_comms_client.py" >
            <param name="~td_ip" value="$(arg td_ip)" />
            <param name="~td_port" value="$(arg td_port)" />
            <param name="~team_id" value="$(arg team_id)" />
            <!-- sets data to protocol sample data - KEEP FALSE-->
            <param name="~use_test_data" value="false" />
        </node>
    </group>

    <group if="$(arg simulation)">
        <node name="navigator_robotx_comms" pkg="navigator_robotx_comms" type="robotx_comms_client.py" >
            <param name="~td_ip" value="127.0.0.1" />
            <param name="~td_port" value="1337" />
            <param name="~team_id" value="GATOR" />
            <!-- sets data to protocol sample data - KEEP FALSE-->
            <param name="~use_test_data" value="false" />
        </node>
    </group>

</launch>
