<?xml version="1.0"?>
<!--
    Launches the gazebo simulator and all the same master.launch used on the real platform.
-->
<launch>
    <arg name="use_mil_world" default="False"/>
    <arg name="world" default="example_course" />
    <arg name="extra_gazebo_args" default=""/>
    <arg name="simulation" default="True"/>
    <!-- Adding an option to disable the classifier/YOLO model which often runs
    very slow on laptops -->
    <arg name="classifier" default="True"/>
    <param name="/use_sim_time" type="bool" value="true" />
    <param name="/is_simulation" type="bool" value="True" />
    <arg name="online-bagger" default="True" />

    <include file="$(find navigator_gazebo)/launch/goose.launch">
      <arg name="gui" value="false"/>
      <arg name="urdf" value="$(find navigator_gazebo)/urdf/navigator.urdf"/>
      <arg name="world" value="$(arg world)" />
      <arg name="extra_gazebo_args" default="--verbose"/>
      <arg name="use_mil_world" value="$(arg use_mil_world)"/>
    </include>

    <!-- NaviGator Relevant Code-->

    <include file="$(find navigator_launch)/launch/master.launch" >
      <arg name="simulation" value="$(arg simulation)" />
      <arg name="online-bagger" value="$(arg online-bagger)" />
    </include>

    <!-- Simulation Relevant Code -->
    <include if="$(arg classifier)" file="$(find navigator_launch)/launch/perception/classifier.launch" >
        <arg name="main_image_topic" value="/wamv/sensors/camera/front_left_cam/image_raw"/>
        <arg name="use_yolo_model1" value="True"/>
        <arg name="use_yolo_model2" value="False"/>
        <arg name="weights_model1" value="$(find yolov7_ros)/src/mil_weights/best.pt" />
    </include>
    <include file="$(find navigator_launch)/launch/vrx/vrx_tf.launch" />
    <include file="$(find navigator_launch)/launch/vrx/vrx_localization.launch" />
    <include file="$(find navigator_launch)/launch/vrx/vrx_controller.launch" /> <!-- Uses different PID values -->
    <include file="$(find navigator_launch)/launch/vrx/vrx_pcodar.launch">
      <arg name="topic" value="/velodyne_points"/>
    </include>
    <node pkg="navigator_gazebo" type="acoustic_beacon.py" name="acoustic_beacon" />
    <node pkg="navigator_gazebo" type="circle_animal.py" name="circle_animal" />
    <node pkg="navigator_gazebo" type="long_trajectory.py" name="long_trajectory_setter" />


</launch>
