<?xml version="1.0"?>
<!--
    Launches just master for vrx comp. launch used on the real platform.
-->
<launch>
    <param name="/is_simulation" type="bool" value="True" />
    <param name="/is_vrx" type="bool" value="True" />
    <arg name="gui" default="false"/>
    <arg name="online-bagger" default="False" />

    <!-- Run core navigator code, minus hardware -->
    <include file="$(find navigator_launch)/launch/master.launch">
      <arg name="simulation" value="true" />
      <arg name="vrx" value="true" />
      <arg name="online-bagger" value="$(arg online-bagger)" />
    </include>
</launch>
