<launch>
  <include file="$(find navigator_launch)/launch/subsystems/shooter.launch" />
  <include file="$(find navigator_launch)/launch/subsystems/hydrophones.launch" />
  <include file="$(find navigator_launch)/launch/subsystems/motor_controller.launch"/>

  <node pkg="navigator_emergency_control" type="navigator_emergency_control" name="navigator_emergency_xbee">
        <param name="port" type="string" value="/dev/serial/by-id/usb-uf-mil_xbee_b267017f-if00" />
        <param name="dest" type="string" value="0xb267017f" />
  </node>
</launch>
