<launch>
  <node pkg="paulboard_driver" type="paulboard_driver" name="paulboard_driver" output="screen">
    <param name="port" type="string" value="/dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A901AN8N-if00-port0"/>
    <param name="sample_rate" type="double" value="300000"/>
    <param name="thresh" type="int" value="500"/>
    <param name="frame" type="string" value="/hydrophones"/>
    <param name="permute" type="string" value="1 2 3 4"/>
  </node>

  <node pkg="hydrophones" type="hydrophones" name="hydrophones" output="screen">
    <param name="dist_h" type="double" value="2.286000e-02"/>
    <param name="dist_h4" type="double" value="2.286000e-02"/>
    <param name="v_sound" type="double" value="1500"/>
  </node>
</launch>

