<launch>
    <node pkg="roboteq_driver" type="driver_node" name="BL_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_USB-RS232_Cable_FT02TT24-if00-port0"/>
      <param name="value" value="115200" />
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="FL_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_USB-RS232_Cable_FT02TQQT-if00-port0"/>
      <param name="value" value="115200" />
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="FR_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_USB-RS232_Cable_FT02TOG3-if00-port0"/>
      <param name="value" value="115200" />
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="BR_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_USB-RS232_Cable_FT02WMAV-if00-port0"/>
      <param name="value" value="115200" />
    </node>

    <node name="navigator_battery_monitor" pkg="navigator_battery_monitor" type="navigator_battery_monitor.py">
        <rosparam>
            <!-- Parameters used to set the alarm trigger values for the batteries -->
            <!-- The values below will trigger when 30%, 15%, and 5% respectively of the total battery capacity are reached -->
            battery_low_voltage: 22.1
            battery_critical_voltage: 20.6
            battery_kill_voltage: 19.5
          </rosparam>
    </node>
</launch>



