<launch>
  <!-- Cameras -->
  <include file="$(find navigator_launch)/launch/subsystems/cameras/cameras.launch"/>

  <!-- Velodyne LIDAR (from VLP16 Launch, requires velodyne package to be built from source)-->
  <include file="$(find navigator_launch)/launch/subsystems/velodyne.launch"/>

  <!-- Sick -->
  <include file="$(find navigator_launch)/launch/subsystems/sick_lidar.launch"/>
</launch>
