<launch>
    <node pkg="tf" type="static_transform_publisher" name="ins_tf" args=".37084 .5715 .7493  0 0 0 1  /base_link /ins 100" />
    <node pkg="tf" type="static_transform_publisher" name="lidar_tf" args=".5334 0.0127 .7493  0 0 0 1  /base_link /lidar 100" />

    <!-- Cameras -->
    <node pkg="tf" type="static_transform_publisher" name="right_camera_tf" args=".2 0 0  0 0 0 1  /stereo_front /right 100" />
    <node pkg="tf" type="static_transform_publisher" name="left_camera_tf" args="0 0 0  0 0 0 1  /stereo_front /left 100" />
    <node pkg="tf" type="static_transform_publisher" name="stereo_tf" args=".6096 0 .762  0.5 -0.5  0.5  -0.5  /base_link /stereo_front 100" />
	
    <!-- Hydrophones -->
    <node pkg="tf" type="static_transform_publisher" name="hydrophone_tf" args="-0.4 0 0 -1.571 0 0 base_link hydrophones 100" />

    <!-- Not at fixed positions yet -->
    <!--node pkg="tf" type="static_transform_publisher" name="right_camera_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="down_camera_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="shooter_tf" args=".6096 -.254 .762  0 0 0 1  /base_link /camera 100" /-->


    <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
        <rosparam>
            frame_id: /enu
            child_frame_id: /base_link
        </rosparam>
        <remap from="orig_odom" to="ins_odom"/>
   </node>
   
    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
</launch>
