<launch>
    <node pkg="tf" type="static_transform_publisher" name="measure_point_tf" args="1.2319 0 0  0 0 0 1  /base_link /measurement 10" /> <!-- Very front center of top part -->
    <node pkg="tf" type="static_transform_publisher" name="ins_tf" args="-0.652272 0.136525 0.192278  0 0 0 1  /measurement /ins 10" />
    
    <!-- LIDAR -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_tf" args="-0.277622 0 0.648208 0 0 0 1  /measurement /velodyne 10" />
    <node pkg="tf" type="static_transform_publisher" name="sick_tf" args="0.5334 -0.0254 -0.6858  0 0 0 1  /measurement /sick 10" />

    <!-- Cameras -->
    <node pkg="tf" type="static_transform_publisher" name="stereo_left_cam_tf" args="0.294 0.1 -0.45  -0.5665 0.55359 -0.42663 0.43658  /velodyne /stereo_left_cam 100" />
    <node pkg="tf" type="static_transform_publisher" name="stereo_right_cam_tf" args="0.294 0.08 -0.45  -0.56213 0.55163 -0.4316 0.43981  /velodyne /stereo_right_cam 100" />
    <node pkg="tf" type="static_transform_publisher" name="right_right_cam_tf" args="0.117 -0.5005 -0.4615  -0.00525 -0.71078 0.70328 0.01256  /velodyne /right_right_cam 100" />

    <!-- TODO Hydrophones -->
    <node pkg="tf" type="static_transform_publisher" name="hydrophone_tf" args="-0.4 0 0 -1.571 0 0 base_link hydrophones 10" />

    <node pkg="nodelet" type="nodelet" name="transform_odometry" args="standalone odometry_utils/transform_odometry">
        <rosparam>
            frame_id: /enu
            child_frame_id: /base_link
        </rosparam>
        <remap from="orig_odom" to="ins_odom"/>
   </node>

    <node pkg="nodelet" type="nodelet" args="standalone odometry_utils/odometry_to_tf" name="odometry_to_tf"/>
</launch>
