<model>
  <name>Protogripper</name>
  <version>1.0</version>
  <sdf version='1.4'>david_gripper.sdf</sdf>

  <author>
    <name>Matthew Langford</name>
    <email>matthew.langford95@gmail.com</email>
  </author>

  <description>
    The first version of Davids gripper for the sub.
  </description>
</model>

