<launch>
<!--
    <node pkg="roboteq_driver" type="driver_node" name="grinch_winch">
      <param name="port" value="/dev/pts/9"/>
      <param name="value" value="115200" />
    </node>
-->
    <node pkg="roboteq_driver" type="driver_node" name="grinch_spin">
      <param name="port" value="/dev/pts/8"/>
      <param name="value" value="115200" />
    </node>

</launch>



