<launch>
    <node pkg="roboteq_driver" type="driver_node" name="BL_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_Quad_RS232-HS-if00-port0"/>
      <param name="value" value="115200" />
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="FL_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_Quad_RS232-HS-if01-port0"/>
      <param name="value" value="115200" />
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="FR_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_Quad_RS232-HS-if03-port0"/>
      <param name="value" value="115200" />
    </node>
    <node pkg="roboteq_driver" type="driver_node" name="BR_motor">
      <param name="port" value="/dev/serial/by-id/usb-FTDI_Quad_RS232-HS-if02-port0"/>
      <param name="value" value="115200" />
    </node>

    <!-- Launch battery monitor with motor controllers as it requires them -->
    <node pkg="navigator_battery_monitor" type="navigator_battery_monitor.py" name="battery_monitor" />

</launch>
