<launch>
    <node pkg="blue_view_driver" type="blue_view_driver" name="test_blue_view" >
        <rosparam>
        
            # NOTE: MUST set either device or file param
            # device: string representing ip/dns
            device: 192.168.37.53
            #or.. file: path to blue view sonar file
            #file: mysonarfile.son

            # TF frame to be put in headers of output
            frame_id: my_sonar
            
            # How often to send output (raw data / images), seconds
            period_seconds: 0.5
            
            # color map to use to produce color image
            #color_map_file: test.cmap

            grayscale:
                enable: True #Publish grayscale image
            color:
                enable: True #publish color image
                #map_file: test.cmap #color map to use
            raw/enable: True #publish raw ranges in custom message
            
            # meters
            #range:
            #    start: 1
            #    stop:  20
            
            # saltwater, freshwater, other
            #fluid_type: freshwater
            
            # how fast sound travels in this medium, meters per second
            #sound_speed: 1
            
            # analog gain adjustment, dB
            #gain_adjustment: 0
            
            # time variable analog gain, dB/meter
            #tvg_slope: 0
            
            # use dynamic power management, boolean
            #dynamic_power_management: False
            
            # how often for sonar to ping, seconds
            #ping_interval: 0.05

        </rosparam>
        <param name="color/map_file" value="$(find bvtsdkpkg)/colormaps/jet.cmap" />
    </node> 
</launch>
