from launch import LaunchDescription
from launch_ros.actions import Node
from launch.actions import SetParameter

def generate_launch_description():
    return LaunchDescription([
        SetParameter(name='/is_simulation', value='True'),
        Node(
            package='mil_pneumatic_actuator',
            executable='pneumatic_actuator_node',
            name='actuator_driver',
            output='screen',
            parameters=[{
                'port': '/dev/serial/by-id/usb-MIL_Data_Merge_Board_Ports_5_to_8_DMBP58-if00-port0',
                'actuators': {
                    'my_actuator': 7,
                    'torpedo1': {
                        'type': 'pulse',
                        'ports': {
                            'open_port': {'id': 1, 'default': 0},
                            'close_port': {'id': -1, 'default': 0}
                        },
                        'pulse_time': 1
                    },
                    'dropper': {
                        'type': 'pulse',
                        'ports': {
                            'open_port': {'id': 3, 'default': 0},
                            'close_port': {'id': 4, 'default': 1}
                        },
                        'pulse_time': 1
                    },
                    'gripper': {
                        'type': 'set',
                        'ports': {
                            'open_port': {'id': 6, 'default': 1},
                            'close_port': {'id': 5, 'default': 0}
                        },
                        'pulse_time': 1
                    }
                }
            }]
        )
    ])
