<?xml version="1.0"?>
<!-- Run gazebo with navigator in a RobotX course -->
<launch>
  <arg name="gui" default="False" />
  <arg name="use_mil_world" default="False"/>
  <arg name="world" default="example_course" />
  <arg name="extra_gazebo_args" default=""/>
  <arg name="urdf" default="$(find navigator_gazebo)/urdf/navigator.urdf" />

  <include unless="$(arg use_mil_world)" file="$(find vrx_gazebo)/launch/vrx.launch">
    <arg name="gui" value="false"/>
    <arg name="urdf" value="$(find navigator_gazebo)/urdf/navigator.urdf"/>
    <arg name="world" value="$(find vrx_gazebo)/worlds/$(arg world).world" />
    <arg name="extra_gazebo_args" default="--verbose"/>
  </include>
  <include if="$(arg use_mil_world)" file="$(find vrx_gazebo)/launch/vrx.launch">
    <arg name="gui" value="false"/>
    <arg name="urdf" value="$(find navigator_gazebo)/urdf/navigator.urdf"/>
    <arg name="world" value="$(find navigator_gazebo)/worlds/$(arg world).world" />
    <arg name="extra_gazebo_args" default="--verbose"/>
  </include>
</launch>
