<?xml version="1.0"?>
<!-- Run gazebo with navigator in a RobotX course -->
<launch>
  <arg name="gui" default="true" />

  <!-- URDF Model of Navigator -->
  <arg name="urdf" default="$(find navigator_gazebo)/urdf/navigator.urdf" />
  <param name="robot_description" textfile="$(arg urdf)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotx_gazebo)/worlds/example_course.world" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="true" />
  </include>

  <!-- Spawn model in Gazebo -->
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model navigator -w dock2016"/>
</launch>
