<?xml version="1.0"?>
<model>
  <name>symbol_rectangle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Max Vu</name>
    <email>m.vu@ufl.edu</email>
  </author>
  <author>
    <name>Carlos Agüero</name>
    <email>caguero@openrobotics.org</email>
  </author>

  <description>
    A square symbol used in some elements of the RobotX competition.
    edited for robotx 2024
  </description>
</model>
